textarea {
    width: 400px;
    height: 150px;
    position: relative;
    left: 0;
    background-color: lightgray;
}
h2 {
    margin: 10px;
}
.container {
    margin: 0;
}
article {
    border: 1px black solid;
    padding: 5px;
    background-color: white;
}
body {
    background-color: lightblue;
}
h1 {
    text-align: center;
    background-color: white;
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 0;
    padding: 13px;
    color: black;   
}